:root {
  --name: CLRS;
  --black: #000000;
  --red: #f8282a;
  --green: #328a5d;
  --yellow: #fa701d;
  --blue: #135cd0;
  --purple: #9f00bd;
  --cyan: #33c3c1;
  --white: #b3b3b3;
  --brightBlack: #555753;
  --brightRed: #fb0416;
  --brightGreen: #2cc631;
  --brightYellow: #fdd727;
  --brightBlue: #1670ff;
  --brightPurple: #e900b0;
  --brightCyan: #3ad5ce;
  --brightWhite: #eeeeec;
  --background: #ffffff;
  --foreground: #262626;
  --cursorColor: #6fd3fc;
  --selectionBackground: #6fd3fc
}

.foreground, .Foreground { color: var(--foreground);            }
.background, .Background { background-color: var(--background); }

.output   , .Output      { color: var(--foreground)   }
.success  , .Success     { color: var(--brightGreen)  }
.failure  , .Failure     { color: var(--red)          }
.error    , .Error       { color: var(--brightRed)    }
.warning  , .Warning     { color: var(--brightYellow) }
.debug    , .Debug       { color: var(--yellow)       }
.verbose  , .Verbose     { color: var(--brightCyan)   }
.progress , .Progress    { color: var(--cyan)         }
.link     , .Link        { color: var(--cyan)         }

.black   ,  .Black   , .ANSI0  { color: var(--black)  }
.red     ,  .Red     , .ANSI1  { color: var(--red)    }
.green   ,  .Green   , .ANSI2  { color: var(--green)  }
.yellow  ,  .Yellow  , .ANSI3  { color: var(--yellow) }
.blue    ,  .Blue    , .ANSI4  { color: var(--blue)   }
.magenta ,  .Magenta , .ANSI5  { color: var(--purple) }
.cyan    ,  .Cyan    , .ANSI6  { color: var(--cyan)   }
.white   ,  .White   , .ANSI7  { color: var(--white)  }

.brightblack   ,  .bright-black   , .BrightBlack   , .ANSI8   { color: var(--brightBlack)  }
.brightred     ,  .bright-red     , .BrightRed     , .ANSI9   { color: var(--brightRed)    }
.brightgreen   ,  .bright-green   , .BrightGreen   , .ANSI10  { color: var(--brightGreen)  }
.brightyellow  ,  .bright-yellow  , .BrightYellow  , .ANSI11  { color: var(--brightYellow) }
.brightblue    ,  .bright-blue    , .BrightBlue    , .ANSI12  { color: var(--brightBlue)   }
.brightmagenta ,  .bright-magenta , .BrightMagenta , .ANSI13  { color: var(--brightPurple) }
.brightcyan    ,  .bright-cyan    , .BrightCyan    , .ANSI14  { color: var(--brightCyan)   }
.brightwhite   ,  .bright-white   , .BrightWhite   , .ANSI15  { color: var(--brightWhite)  }

.purple       ,  .Purple  { color: var(--purple) }

.brightpurple ,  .bright-purple , .BrightPurple  { color: var(--brightPurple) }

.foreground-border , .Foreground-Border   { border-color: var(--foreground)  }
.foreground-fill   , .Foreground-Fill     { fill: var(--foreground)          }
.foreground-stroke , .Foreground-Stroke   { stroke: var(--foreground)        }

.background-border , .Background-Border  { border-color: var(--background)   }
.background-fill   , .Background-Fill    { fill: var(--background)           }
.background-stroke , .Background-Stroke  { stroke: var(--background)         }

.error-border      , .Error-Border       { border-color: var(--brightRed)    }
.error-fill        , .Error-Fill         { fill: var(--brightRed)            }
.error-stroke      , .Error-Stroke       { stroke: var(--brightRed)          }

.success-border    , .Success-Border     { border-color: var(--brightGreen)  }
.success-fill      , .Sucesss-Fill       { fill: var(--brightGreen)          } 
.sucesss-stroke    , .Success-Stroke     { stroke: var(--brightGreen)        }

.warning-border    , .Warning-Border     { border-color: var(--brightYellow) }
.warning-fill      , .Warning-Fill       { fill: var(--brightYellow)         }
.warning-stroke    , .Warning-Stroke     { stroke: var(--brightYellow)       }

a, a:visited, a:hover  { color: var(--cyan); }
::selection, ::-moz-selection {
    color: var(--cursorColor);
    background-color: var(--selectionBackground);
}
   
form input[type="text"], form input[type="checkbox"], input[type="button"], textarea, select, option {
    color: var(--foreground);
    background-color: var(--background);
}

form input[type="text"], textarea, select {
    border : 1px solid var(--foreground);
    outline: 1px solid var(--foreground);
}

hr {
    color: var(--foreground)
}
